# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, coverage, and results
*.test
*.out

# Vendor directory
/vendor/

# IDE-specific files
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
